body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: sans-serif;
}


table, th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
}

td button {
  margin-right: 5px;
}

form {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}